<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('partials/header.ejs') %>
        <h2>Listado de personas </h2>
        <% for (let i=0; i<personas.length; i++) { %>
            <p>
                <ul>
                    <li class="list">
                        <a href="/actualizar/<%=personas[i].id%>">Ver </a>
                        <%= personas[i].name + ' ' +  personas[i].surname%>
                            con correo electrónico
                            <%= personas[i].email %> .
                    </li>
                </ul>

            </p>
            <% } %>
</body>

</html>