<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('partials/header.ejs') %>
        <h2>Este es el Login</h2>
        <label for="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eaque sapiente quam repellat voluptatum, nihil ratione blanditiis unde repudiandae optio voluptate ut laboriosam, rerum earum distinctio ipsam dignissimos ullam non.
    </label>
        <br><br><br>
        <input type="text"><br><br>
        <input type="text"><br><br>
        <input type="text"><br><br>
        <button type="submit"> Enviar</button><br>
</body>

</html>